body{
    background-color: slateblue;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    padding: 0 0 30px 0;
    text-decoration: underline;
}
h3{
    color: black;
    font-size: 30px;
}
a{
    text-decoration: none;
    color: slateblue;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 30px;
}
a:hover{
    color: #fff;
    background-color: black;
}
div{
    margin: 20px;
}
